[access "refs/*"]
	owner = group UI
[access "refs/for/*"]
	read = group UI
	push = group UI
	label-Code-Review = -2..+2 group UI
	rebase = group UI
	removeReviewer = group UI
	submit = group UI
[access "refs/heads/*"]
	read = group UI
	push = group UI
[access "refs/tags/*"]
	read = group UI
	push = group UI
